body{
    background-color: rgba(0,255,0,0.2);
}
.container{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-group{
    width: 40%;
}
#akan{
    width: 40%;
    text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}